* {
	margin: 0;
	padding: 0;
}


body {
	font-size: 12px;
}

ul {
  display: grid;
  grid-template-columns: repeat(5, 8vw);
  grid-template-rows: repeat(5, 8vw);
  justify-content: center;
  align-content: center;
  grid-gap: 1rem;
  min-height: 90vh;
  list-style: none;
  margin: 0 0 2vw;
  padding: 0;
  font-size: calc(2vw + 10px);
}

li {
  margin: 0;
  padding: 0;
  text-align: center;
  border: 4px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    margin-top: 0.4rem;
  }  
}


li:nth-child(1) { grid-row: 1; grid-column: 1; }
li:nth-child(2) { grid-row: 1; grid-column: 2; }
li:nth-child(3) { grid-row: 1; grid-column: 3; }
li:nth-child(4) { grid-row: 1; grid-column: 4; }
li:nth-child(5) { grid-row: 1; grid-column: 5; }
li:nth-child(6) { grid-row: 2; grid-column: 5; }
li:nth-child(7) { grid-row: 3; grid-column: 5; }
li:nth-child(8) { grid-row: 4; grid-column: 5; }
li:nth-child(9) { grid-row: 5; grid-column: 5; }
li:nth-child(10) { grid-row: 5; grid-column: 4; }
li:nth-child(11) { grid-row: 5; grid-column: 3; }
li:nth-child(12) { grid-row: 5; grid-column: 2; }
li:nth-child(13) { grid-row: 5; grid-column: 1; }
li:nth-child(14) { grid-row: 4; grid-column: 1; }
li:nth-child(15) { grid-row: 3; grid-column: 1; }
li:nth-child(16) { grid-row: 2; grid-column: 1; }

