.mt-2 { margin-top: 18px; }
.mt-4 { margin-top: 26px; }
.mt-8 { margin-top: 52px; }

.mb-2 { margin-bottom: 18px; }
.mb-4 { margin-bottom: 26px; }
.mb-8 { margin-bottom: 52px; }

.py-2 { padding: 18px 0 }
.py-4 { padding: 26px 0 }