/*		<div class="header"></div>
		<div class="section-left"></div>
		<div class="main"></div>
		<div class="section-right"></div>
		<div class="submain"></div>
		<div class="footer"></div>*/

.allBlocks{
	height: 100%;
	width: 100%;
	background-color: darkgrey;
	border: 2px solid black;
}
.header{
	border: 2px solid black;
	height: 200px;
	width: 100%;
	background-color: darkblue;
}

.section-left{
	border: 2px solid black;
	height: 400px;
	width: 10%;
	background-color: darkred;
	float: left;
}

.section-right{
	border: 2px solid black;
	height: 400px;
	width: 10%;
	background-color: grey;
}

.main{
	border: 2px solid black;
	height: 400px;
	width: 79.2%;
	background-color: darkgreen;
	float: left;
}

.submain{
	border: 2px solid black;
	height: 150px;
	width: 100%;
	background-color: yellow;
}

.footer{
	border: 2px solid black;
	height: 150px;
	width: 100%;
	background-color: plum;
}