* {
	/* Reset. Best Practice */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* Specify base font. Best practice. Define the other rules with the "em" unit of mesure */
	font-size: 18px;
	font-family: Helvetica, Arial, sans-serif;
}

html {
	/* Añado un gradiente a toda la página. Fíjate en la siguiente regla! */
	height: 100vh;

	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.page {
	margin: 0 auto;
	width: 960px;
}

header {
	text-align: center;
	margin: 24px 0;
	text-shadow: 3px 3px 3px silver;
}

.content {
	margin: 0 auto;
	width: 620px;
}

.number-panel {
	width: 450px;
	float: left;
	margin-bottom: 20px;
}

.box-number {
	background-color: #DFDBDF;
	float: left;
	width: 150px;
	height: 150px;
	border-style: inset;
	border: 1px solid black;
}

.box-number > p {
	text-align: center;
	font-size: 1.5em;
	position: relative;
	top: 44%;
}

.box-number:hover {
	background-color: #D1D1D1;
}

#number_0 {
	width: 300px;
}

.operation-panel {
	width: 150px;
	float: right;
	margin-bottom: 20px;
	min-height: 600px;
}

.box-operation {
	background-color: #2E2E2E;
	width: 150px;
	height: 100px;
	border-style: inset;
	border: 1px solid black;
}

.box-operation:hover {
	background-color: #4E4E4E;
}

.box-operation > p {
	color: #EEEEEE;
	text-align: center;
	font-size: 1.5em;
	position: relative;
	top: 38%;
}

#result {
	clear: both;
	width: 620px;
	height: 100px;
	overflow-x: auto;
	font-size: 1.2em;
	border-style: inset;
	border: 5px dashed #AA4753;
	background-color: #E5B567;
	text-align: center;
	padding: 30px 20px;
	font-family: Consolas, Monaco, Courier, monospace;
}

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.disabled, .disabled p {
	color: black;
	background-color: black;
}

.disabled:hover, .disabled p:hover {
	color: black;
	background-color: black;
}