body {
	padding: 10px 20px;
}

main, header, section {
	max-width: 1100px;
	margin: 0 auto;
}

.nice-button {
	margin: 20px;
	padding: 12px;
	font-size: 1.1em;
	background-color: #2ECC40;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
}

.nice-button:hover {
	box-shadow: 1px 1px 1px 1px #AAAAAA;
}

input {
	margin: 12px;
}

input:valid {
    border-color: #0074D9;
}

input:invalid {
    border-color: #FF4136;
}

li {
	list-style-type: none;
	margin-bottom: 24px;
	box-shadow: 1px 1px 1px 2px #AAAAAA;
	padding: 2px 12px 12px 12px;
}

.button-link {
	text-decoration: none;
	display: inline-block;
	margin: 16px 24px 2px 0;
	font-size: 1.5em;
}

fieldset {
	max-width: 80%;
	margin: 0 auto 48px;
}

label span {
	color: red;
}
