extends base.pug

block content
  h1 Welcome, #{name}!
  iframe(width='560', height='315', src='https://www.youtube.com/embed/KdThzdlfa4Y', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
  a(href="/logout") Log out