// Declaro unas variables
$space-small: 10px;
$space-medium: 25px;


// Declaro mixins (algo parecido a funciones). Podré llamar a los mixins para colocar todas estas propiedades dentro de una regla
@mixin border($rad, $col, $wid: 1px){ // Se pueden establecer parámetros por defecto
    border-radius: $rad;
    border-color: $col;
    border-width: $wid;
}