@charset 'utf-8';
// La anterior linea es una best-practice (Además, es recomendable usar la comilla simple siempre que escribamos strings)
// Es recomendable usar colores en formato "HSL"  https://www.w3schools.com/colors/colors_hsl.asp 
// Ejemplo:  $sass-pink: hsl(330, 50%, 60%); $main-theme-color: $sass-pink;


// Este comentario no será visible en el fichero CSS generado

/* Este comentario SI es visible en el fichero generado! */

// Hay dos sintaxis válidas, yo voy a usar: "scss"


// permite importar otros ficheros scss. Observa el guión bajo delante del nombre del fichero
@import '_mixins-and-vars.scss';

body {
    background-color: lighten(indigo, 10%);;
    font: normal 14px courier,sans-serif;
    padding: {
        left: $space-medium;
        right: $space-medium;
    }
}

.container {
    padding: $space-medium;
    position: fixed;
}

.form-login {
    background-color: aquamarine;
    
    // Observa el siguiente ejemplo, me estoy ahorrando escribir cada vez: "padding-"
    padding: {
        top: $space-small;
        bottom: $space-small * 2; // Fíjate que recojo el valor de la variable y lo multiplico por dos.
        left: $space-small * 2;
        right: $space-small * 2;
    }

    @include border($space-small, black, 1px); // Llamo a un mixin

    // Anidado de reglas (nested rules)
    h4 {
        border: 0 solid white;
        border-bottom-width: 1px;
        padding-bottom: $space-small;
        text-align: center;
    }

    .form-control {
        @include border($space-small, gray, 1px);
    }

    .wrapper {
        text-align: center; 
    }
}


.boton {
    margin: 30px;
    padding: 16px;
    border-radius: 4px;
    font-weight: bold;
    color: black;

    &:hover { 
        box-shadow: 0 0 4px 2px #000000; 
    } // Podemos definir el "hover" dentro de la misma regla
}

.boton-normal {
    @extend .boton; // De este modo heredamos las propiedades de otra regla
    background-color: snow;

    &:hover {
        background: darken(snow, 5%); // "darken()" es una función preestablecida que me permite oscurecen un color
    }
}

.boton-aviso {
    @extend .boton;
    background-color: chartreuse ;

    &:hover {
        background: darken(chartreuse, 5%);
    }
}

.boton-peligro {
    @extend .boton;
    background-color: tomato;

    &:hover {
        background: darken(tomato, 5%);
    }
}

.boxed{
    padding-top: $space-medium * 2;
    color: white;
    font-size: 1.6rem;

    a {
        color: black;
        text-decoration: underline;

        &:hover {
            color: cyan;
        }
    }
}